<plan>
    {% for day in days %}
    <reading>
        <day>{{loop.index}}</day>
        {% for reading in day.readings %}
        <passage>{{reading.passage}}</passage>
        {% endfor %}
    </reading>
    {% endfor %}
</plan>