<plan>
    {% for day in days %}
    <reading>
        <day>{{loop.index}}</day>
        {% for passage in day %}
        <passage>{{passage}}</passage>
        {% endfor %}
    </reading>
    {% endfor %}
</plan>